// // <!DOCTYPE html>
// <html>
// <head>
// <meta name="viewport" content="width=device-width, initial-scale=1">
// <style>

// .wrap{
// 	background:red;

//   position: relative;

//   height: 100vh;

// }

.swiper-slide {
  position: relative;
  height: calc(100vh - 100px);

  @keyframes example {
    0% {
      width: 50%;
      height: 50%;
    }
    50% {
      width: 100%;
      height: 100%;
    }
    100% {
      width: 50%;
      height: 50%;
    }
  }
  img {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // color: #fefbfe;
    text-shadow: 2px 2px #fefbfe;
    color: transparent;
    // opacity: 0.5;
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
  }
}

// @keyframes example {
//   0%{width:50%; height:50%}
//   50% {width:100%; height:100%}
//   100%{ width:50%; height:50%}
// }
// </style>
// </head>
// <body>

// <h2>Center an Image</h2>
// <p>To center an image, set left and right margin to auto, and make it into a block element.</p>
// <div class='wrap'>

// <img src="img_paris.jpg" alt="Paris" style="width:50%; height:50%">
// 	<div class="text">Your Text Here</div>
// </div>

// </body>
// </html>

// import styled, { keyframes } from "styled-components";

// export const CarouselImage = styled.div`
//   position: relative;
//   height: 100vh;
//   background: red;
//   img {
//     display: block;
//     margin: 0;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 50%;
//     height: 50%;
//     transform: translate(-50%, -50%);
//     transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
//     animation-name: {example};
//     animation-duration: 4s;
//   }
//   .text {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     color: white;
//     font-size: 24px;
//     text-align: center;
//   }

//   }

// `;
// const example = keyframes`
//     0% {
//       width: 50%;
//       height: 50%;
//     }
//     50% {
//       width: 100%;
//       height: 100%;
//     }
//     100% {
//       width: 50%;
//       height: 50%;
//     }`;
